<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <% if current_user == @album.user %>
        <td><%= link_to 'Show', album_path(album), class: "btn" %></td>
        <td><%= link_to 'Edit', edit_album_path(album), class: "btn" %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"%>
        <% else %>
        <td><%= link_to 'Show', album_path(album), class: "btn" %></td>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'New Album', new_album_path, class: "btn btn-danger" %>
<% end %>
