<!DOCTYPE html>
<html>
  <head>
    <title>AlbumStore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div id="container" style="padding-top:20px;">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
          <%= render "header" %>
          <%= yield %>

        <% if !user_signed_in? %>
          <%= render "sign_up_page" %>
        <% end %>
      </div>
  </body>
</html>
