<!DOCTYPE html>
<html>
  <head>
    <title>AlbumStore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container" style="padding-top:20px;">
      <%= render "header" %>

      <div class="alert alert-success" role="alert" style="margin-top: 3%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% unless flash[:notice].nil? %>
            <div id="notice"><%= flash[:notice] %></div>
          <% end %>
      </div>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% unless flash[:error].nil? %>
            <div id="error"><%= flash[:error] %></div>
          <% end %>
      </div>

      <% if !user_signed_in? %>
        <%= render "sign_up_page" %>
      <% end %>
   </div>
   <%= yield %>
  </body>
</html>


<!-- <div class="alert alert-danger" role="alert">...</div> -->
